


.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.header__logo{
    @extend %logo;
    @extend %link;
}


