%list {
    list-style: none;

    padding: 0;
    margin: 0;
}

%link {
    text-decoration: none;
    color: inherit;
}

%title {
    text-align: center;

    font-weight: 700;
    line-height: 1.17;
    
    font-size: 28px;

    margin: 0 0 30px;

    @media screen and (min-width: $desktop) {
        margin: 0 0 50px;
    }
}

// @extend %;